.body_background 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-width:10px;
   background-color: rgb(134, 177, 243);
   border-style:ridge;
   border-color:darkviolet;
}

